<header>
    <div class="row">
        <div class="col-xs-4">
            <img src="~/Content/Images/New_MeritLogo.png" alt="Merit Logo" class="img-responsive" />
        </div>
        <div class="col-xs-5 "><h3>Customer/Carrier List</h3></div>
    </div>
</header>
<br />