<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MeritDbContext"
         connectionString="Data Source=10.100.0.15;Initial Catalog=MeritDevelopmentDb;User ID=MeritDevelopmentUser;Password=5dnSwV5xheK4aevQ"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="CommandPipelineDbContext"
         connectionString="Data Source=10.100.0.15;Initial Catalog=MeritDevelopCommandPipelineDb;User ID=MeritDevelopmentUser;Password=5dnSwV5xheK4aevQ"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="MeritHangfireDb"
         connectionString="Data Source=10.100.0.15;Initial Catalog=MeritDevelopHangfireDb;User ID=MeritDevelopmentUser;Password=5dnSwV5xheK4aevQ"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="WebsterDb"
         connectionString="DataSource=10.100.0.27;Database=webster;User ID='webster';Password='webster';Convert Zero DateTime=TRUE; Allow Zero DateTime=TRUE;"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <add key="InvoiceGenerationBaseUrl" value="http://dev.mos.merit3pl.com/invoice/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="KrogerInvoiceTemplatePath" value="C:\inetpub\wwwroot\dev.mos.merit3pl.com\invoice\ExcelTemplates\KrogerInvoiceTemplate.xlsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemSenderEmail" value="mos@merit3pl.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UnloadingInvoiceTemplatePath" value="C:\inetpub\wwwroot\dev.mos.merit3pl.com\invoice\ExcelTemplates\UnloadingInvoiceTemplate.xlsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DepartmentInvoiceTemplatePath" value="C:\inetpub\wwwroot\dev.mos.merit3pl.com\invoice\ExcelTemplates\DepartmentInvoiceTemplate.xlsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ActivityInvoiceTemplatePath" value="C:\inetpub\wwwroot\dev.mos.merit3pl.com\invoice\ExcelTemplates\ActivityInvoiceTemplate.xlsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SelectionInvoiceTemplatePath" value="C:\inetpub\wwwroot\dev.mos.merit3pl.com\invoice\ExcelTemplates\SelectionInvoiceTemplate.xlsx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <entityFramework>
    <contexts xdt:Transform="Insert">
      <context type="Merit.Components.MeritDbContext, Merit" disableDatabaseInitialization="true" />
      <context type="Fulcrum.Runtime.CommandPipeline.CommandPipelineDbContext, Fulcrum" disableDatabaseInitialization="true" />
    </contexts>
  </entityFramework>

  <system.net>
    <mailSettings>
      <smtp xdt:Transform="Replace">
        <network host="smtp.sendgrid.net" userName="tle" password="!Merit112" port="587" />
      </smtp>
    </mailSettings>
  </system.net>

  <wkhtmltopdf xdt:Transform="Replace" binaryPath="C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe" tempFolderPath="" debug="false" timeout="180000" arguments="--page-size A4 --margin-top 10 --margin-bottom 15 --header-spacing 5 --footer-spacing 5" />
</configuration>
