<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="wkhtmltopdf" type="Codaxy.WkHtmlToPdf.PdfConvertSection" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>
  
  <connectionStrings>
    <add connectionString="Data Source=172.16.10.166;Initial Catalog=Merit_6541;User ID=sa;Password=a@123456;Connection Timeout=120;multipleactiveresultsets=true" name="MeritDbContext" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=172.16.10.166;Initial Catalog=MeritProductionCommandPipelineDb;User ID=sa;Password=a@123456" name="CommandPipelineDbContext" providerName="System.Data.SqlClient" />
    <add connectionString="Data Source=172.16.10.166;Initial Catalog=MeritHangfireTest;User ID=sa;Password=a@123456" name="MeritHangfireDb" providerName="System.Data.SqlClient" />

    <!--<add name="MeritDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.15;Initial Catalog=MeritStagingDb;User ID=gemdev;Password=123456" />   
    <add name="CommandPipelineDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.15;Initial Catalog=MeritStagingCommandPipelineDb;User ID=gemdev;Password=123456" />  
    <add name="MeritHangfireDb" providerName="System.Data.SqlClient" connectionString="Data Source=10.100.0.15;Initial Catalog=MeritStagingHangfireDb;User ID=gemdev;Password=123456" />-->
    
    <add name="WebsterDb" providerName="MySql.Data.MySqlClient" connectionString="DataSource=10.100.0.27;Database=webster;User ID='webster';Password='webster';Convert Zero DateTime=TRUE; Allow Zero DateTime=TRUE;" />
    <add name="Merit.Components.Fingertec.Entities.WebsterDbContext" connectionString="Merit.Components.Fingertec.Entities.WebsterDbContext_ConnectionString" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="InvoiceGenerationBaseUrl" value="http://localhost/" />
    <add key="KrogerInvoiceTemplatePath" value="C:\projects\MeritWeb\src\Merit.Invoicing\ExcelTemplates\KrogerInvoiceTemplate.xlsx" />
    <add key="UnloadingInvoiceTemplatePath" value="C:\projects\MeritWeb\src\Merit.Invoicing\ExcelTemplates\UnloadingInvoiceTemplate.xlsx" />
    <add key="DepartmentInvoiceTemplatePath" value="C:\projects\MeritWeb\src\Merit.Invoicing\ExcelTemplates\DepartmentInvoiceTemplate.xlsx" />
    <add key="ActivityInvoiceTemplatePath" value="C:\projects\MeritWeb\src\Merit.Invoicing\ExcelTemplates\ActivityInvoiceTemplate.xlsx" />
    <add key="SelectionInvoiceTemplatePath" value="C:\projects\MeritWeb\src\Merit.Invoicing\ExcelTemplates\SelectionInvoiceTemplate.xlsx" />
    <add key="SystemSenderEmail" value="mos@merit3pl.com" />
    <add key="StartingInvoiceNumber" value="200000" />
	<add key="MeritTaxId" value="461734845" />
    <add key="DoubleOvertimeBurdenRate" value="2" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
	<customErrors mode="Off" />
	<globalization culture="en-US" uiCulture="en-US" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.saritasa-hosting.com" defaultCredentials="false" port="1025" userName="" password="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.6.0" newVersion="6.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <!--<contexts>
      <context type="Merit.Components.MeritDbContext, Merit" disableDatabaseInitialization="true" />
    </contexts>-->
  </entityFramework>
  <!-- binaryPath, tempFolderPath and arguments are optional, defaults are provided -->
  <wkhtmltopdf binaryPath="" tempFolderPath="" debug="true" timeout="60000" arguments="--page-size A4 --margin-top 10 --margin-bottom 15 --header-spacing 5 --footer-spacing 5" 
               argumentsUrlReceipt="--page-height 160 --page-width 55  --margin-left 1 --margin-right 1 --margin-top 10 --margin-bottom 15 --header-spacing 5 --footer-spacing 5"/>
</configuration>