@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Standard Unloading Invoice</title>
    <link href="~/Content/Css/Invoice.css" rel="stylesheet" />
    @RenderSection("ExtraLinks", required: false)
</head>
<body>
    @Html.Partial("~/Views/Partials/_InvoiceHeader.cshtml")
    @RenderBody()
</body>
</html>


