@{
    Layout = null;
}
<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Receipt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'>
    @*<style>
        .woReceipt i {
            text-align: center;
        }

        .woReceipt hr {
            border-color: #585858 !important;
            margin: 12px;
        }

        .woReceipt div.table {
            background-color: white;
        }

        .woReceipt .bold {
            font-weight: bold;
            color: black;
        }

        .woReceipt {
            font-size: 18px;
            width: 870px;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }

            .woReceipt .fa-times {
                font-size: 32px;
                color: #585858;
                cursor: pointer;
            }

            .woReceipt .leftAligned {
                text-align: left;
            }

            .woReceipt .rightAligned {
                text-align: right;
            }

            .woReceipt .closeDiv {
                padding-left: 166px !important;
            }

            .woReceipt .row {
                margin-top: 12px;
                text-align: center;
            }

            .woReceipt .footer {
                font-size: 11px;
                margin-top: 40px !important;
                margin-bottom: 8px;
            }
    </style>*@
</head>
<body>
    @RenderBody()
</body">
</html>