
@{
    ViewBag.Title = "SendNow";
}

<h2>SendNow</h2>
<form action="/Home/SendNow" method="post">
    <input name="name" value="Admin"/>
    <input name="message" />
    <button type="submit">Send</button>
</form>

