body {
  background-color: transparent;
  width: 840px; }
  body header .invoice-info .bill-to-container {
    width: 465px; }

.work-items {
  text-align: center;
  display: block; }
  .work-items .activity-group {
    display: inline-block;
    text-align: left;
    margin-top: 15px; }
    .work-items .activity-group h3 {
      margin: 5px 0px; }
    .work-items .activity-group table {
      margin: 0px auto; }
      .work-items .activity-group table tr td, .work-items .activity-group table tr th {
        width: 100px; }
      .work-items .activity-group table tr td.cl-wo, .work-items .activity-group table tr th.cl-wo {
        width: 200px; }
      .work-items .activity-group table tr .right-align {
        text-align: right; }
      .work-items .activity-group table tfoot td {
        font-weight: bold; }

.grand-totals {
  display: inline-block;
  font-weight: bold;
  text-align: right;
  margin: 20px 10px 0px 0px; }
  .grand-totals span {
    display: table-cell;
    width: 200px; }

.scors-work-orders {
  text-align: center;
  page-break-before: always; }
  .scors-work-orders .activity-group table tr td {
    padding: inherit; }
  .scors-work-orders .activity-group .first {
    padding-top: 5px !important; }
  .scors-work-orders .activity-group .last {
    padding-bottom: 5px !important; }
  .scors-work-orders h3 {
    margin-left: 3px;
    font-weight: bold;
    color: #FF9332;
    font-size: 16px; }
  .scors-work-orders table {
    margin: 0px auto;
    border-spacing: 0px; }
    .scors-work-orders table tr td, .scors-work-orders table tr th {
      width: 100px; }
    .scors-work-orders table tr td.cl-wo, .scors-work-orders table tr th.cl-wo {
      width: 200px; }
    .scors-work-orders table tr .right-align {
      text-align: right; }
    .scors-work-orders table tfoot td {
      font-weight: bold; }
  .scors-work-orders th {
    background-color: #80C8D8;
    padding: 10px 0px;
    font-weight: bold; }
  .scors-work-orders th, .scors-work-orders td {
    text-align: left; }
    .scors-work-orders th:first-child, .scors-work-orders td:first-child {
      padding-left: 5px; }
    .scors-work-orders th:last-child, .scors-work-orders td:last-child {
      padding-right: 5px; }
  .scors-work-orders tbody {
    font-size: 11px; }
    .scors-work-orders tbody .even {
      background-color: #F2F2F2; }
    .scors-work-orders tbody .odd {
      background-color: white !important; }
    .scors-work-orders tbody td {
      padding: 5px 0px; }
  .scors-work-orders tfoot td {
    padding: 20px 0px 30px; }

thead {
  display: table-header-group; }

tfoot {
  display: table-row-group; }

tr {
  page-break-inside: avoid; }

